@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-text {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  
.nav-heading{
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;  
}


.flex-primary{
    display: flex;
}

.full-content-header{
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
    margin: 0 auto;
    margin-bottom: 85px;
}

.list-decoration{
    list-style: none;
    margin-left: 30px;
}

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.hyper-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.16rem;
    font-weight: 500;
}

.nav-bar, .banner-part{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-text-pert{
    width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    flex-direction: column;
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 21px 25px;
    border: none;
    
}

.heading-content-edit{
    font-size: 4rem;
    font-weight: 700;
}

.Pera-decoration{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

main{
    width: 1440px;
    margin: 0 auto;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.First-Page-design {
    align-items: center;
    gap: 73px;
    margin-bottom: 130px;
}

.First-page-data-container{
    width: 537px;
    height: 304px;
}

.First-page-heading-color-D3{
    color: rgb(114, 114, 114);
}

.First-page-heading-color-FF9{
    color: rgb(255, 144, 14);
}

.First-page-pera{
    margin-bottom: 32px;
}

/* Fact Section */

.fact-cointains{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number-header{
    color: rgb(66, 66, 66);
    font-size: 2.82rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-pera-header{
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-heading{
    margin-top: 130px;
    color: rgb(66, 66, 66);
    font-size: 2.82rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.fact-pera {
    width: 542px;
    height: 52px;
    margin-bottom: 100px;
}



@media screen and (max-width: 576px) {
    .nav-bar, 
    .banner-text-pert, 
    .nav-list,
    .First-Page-design,
    .First-page-data-container,
    .fact-container
    {
        flex-direction: column;
    }

    .image-container, .fact-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .header-image{
        width: 100%;
    }
    .full-content-header, 
    .nav-bar, 
    .banner-part, 
    .banner-text-pert,
     main,
    .First-page-data-container,
    .fact-container,
    .fact-pera
    {
        width: 100%;
    }

    .fact-container, .facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fact-container{
        gap: 24px;
    }
}



